/* Added CSS for canvas */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure canvas is behind other content */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Specify the Montserrat font */
    background: radial-gradient(circle at top, #2e323b, #0b0f1a); /* Change colors as needed */
}

.title {
    text-align: center;
    color: #fff;
    font-size: 68px;
}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.intro-container {
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
    font-size: 18px;
    color: #fff;
} 

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjusted height */
}

.panel {
    width: 100px; /* Adjusted width for panels to 100px */
    height: 100px; /* Adjusted height for panels to 100px */
    background: linear-gradient(to top, #cecece, #dddddd); /* Subtle gradient */
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-50px);
}

.panel:hover {
    transform: translateY(-10px) scale(1.1); /* Adjust X translation as needed */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.panel .btn {
    font-family: 'Montserrat', sans-serif; /* Inherit font from body */
    background-color: #12ae95;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Ensures button takes up full width */
    margin: 0 auto; /* Centers the button horizontally */
}

.panel .btn:hover {
    background-color: #005555;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tier2 {
    width: 350px; /* Adjusted width for Tier 2 panel */
    height: 550px; /* Adjusted height for Tier 2 panel */
}

header.main-header {
    position: relative; /* Add position relative */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 1; /* Ensure header is on top */
    margin-bottom: -100px;
}

header.main-header::before {
    content: "";
    position: absolute;
    inset: -10px 0 0 0; /* Adjusted to finish 10px above the webpage */
    z-index: -1;
    background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.07)); /* Creates a transparent to black gradient */
    filter: blur(10px); /* Applies blur effect */
}

.main-header .logo {
    width: 80px; /* Adjusted logo size */
    height: 80px; /* Adjusted logo size */
}

.main-header nav a img {
    width: 40px; /* Adjusted size for nav icons */
    height: 40px; /* Adjusted size for nav icons */
}

.header-content {
    display: flex;
    align-items: center;
}

.btn-header {
    background-color: #12ae95;
    color: #fff;
    border: none;
    padding: 15px 30px; /* Increase padding for bigger size */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Increase font size for bigger text */
    text-decoration: none; /* This removes the underline */
}

.btn-header:hover {
    background-color: #005555;
}

.free-tries {
    color: #fff;
    font-size: 16px;
    margin-right: 10px; /* Add space between button and free tries text */
}

.exciting-text {
    color: #12ae95; /* Change to a vibrant color */
    font-weight: bold; /* Make the text bold */
    font-size: 20px; /* Increase font size */
    text-transform: uppercase; /* Convert text to uppercase */
}



.swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Ensures items wrap properly */
}



@media (max-width: 600px) {
    /* Adjustments for mobile devices */
    .title {
        scale: 70%;
        margin-top: 50px; /* Add space above the title */
        margin-bottom: 10px; /* Add space below the title (optional) */
    }
    .logo {
        width: 150px;
        height: 150px;
        margin-right: -70px;
        margin-bottom: -26px;
    }

    .intro-container {
        font-size: 14px; /* Decrease intro text font size for smaller screens */
    }

    .container {
        height: auto; /* Set height to auto for smaller screens */
    }

    .panel {
        width: 80%; /* Adjust panel width for smaller screens */
    }

    .main-header {
        padding: 10px 10px; /* Adjust header padding for smaller screens */
        margin-bottom: -50px; /* Adjust margin bottom for smaller screens */
    }

    .main-header .logo {
        width: 60px; /* Adjust logo size for smaller screens */
        height: 60px; /* Adjust logo size for smaller screens */
    }

    .main-header nav a img {
        width: 30px; /* Adjust nav icon size for smaller screens */
        height: 30px; /* Adjust nav icon size for smaller screens */
    }

    .btn-header {
        padding: 10px 20px; /* Adjust button padding for smaller screens */
        font-size: 14px; /* Decrease button font size for smaller screens */
    }

    .free-tries {
        font-size: 14px; /* Decrease font size for free tries text for smaller screens */
    }

    .exciting-text {
        font-size: 16px; /* Decrease font size for exciting text for smaller screens */
    }


    .swiper-wrapper {
        display: block; /* Change display property to block */
        justify-content: initial; /* Reset justify-content */
        align-items: initial; /* Reset align-items */
        flex-wrap: nowrap; /* Reset flex-wrap */
    }
}



